/* General setup */

* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0 auto;
    min-width: 1000px;
    max-width: 1400px;
  }
  
  /* Layout */
  
  section {
    float: left;
    width: 50%;
  }
  
  aside {
    float: left;
    width: 30%;
  }
  
  nav {
    float: left;
    width: 20%;
  }
  
  footer {
    clear: both;
  }
  
  header, section, aside, nav, footer {
    padding: 20px;
  }
  
  /* header and footer */
  
  header, footer {
    border-top: 5px solid #a66;
    border-bottom: 5px solid #a66;
  }
  
  /* WRITE YOUR CODE BELOW HERE */
  h2{
    white-space: nowrap;
  }
  
  header{
    text-align: center;
    letter-spacing: 0.5rem;
  }

  section > p:first-of-type{
    text-indent: 20px;
  }

  section p a:visited{
    color: #a66;
  }
  section p a:active{
    color: slategrey;
    font-style: italic;
  }

  a:active{
    color:slategray;
    font-style: italic;
  }

  a:visited{
    color: #a66;
  }
  a:hover{
    color: rgb(145, 92, 92);
    text-decoration: none;
  }
  a:focus{
    color: rgb(145, 92, 92);
  }
  
  /** External Links Icon**/
  a[href="https://en.wikipedia.org/wiki/Examination"]::after{
    position: absolute;
    content: ' ';
    display: inline-block;
    width: 1em;
    height: 1em;
    margin-left: 0.25em;
    background-size: 100%;
    background-image: url(../Images/external-link-52.png);
  }

  a[href="https://en.wikipedia.org/wiki/Jobs"]::after{
    position: absolute;
    content: ' ';
    display: inline-block;
    width: 1em;
    height: 1em;
    margin-left: 0.25em;
    background-size: 100%;
    background-image: url(../Images/external-link-52.png);
  }

  a[href="https://en.wikipedia.org/wiki/Career"]::after{
    position: absolute;
    content: ' ';
    display: inline-block;
    width: 1em;
    height: 1em;
    margin-left: 0.25em;
    background-size: 100%;
    background-image: url(../Images/external-link-52.png);
  }

  a[href="https://en.wikipedia.org/wiki/Emotion"]::after{
    position: absolute;
    content: ' ';
    display: inline-block;
    width: 1em;
    height: 1em;
    margin-left: 0.25em;
    background-size: 100%;
    background-image: url(../Images/external-link-52.png);
  }

  /** Lists **/
  ul li{
    line-height: 1.6;
    margin: 0.6rem 0;
  }
  ul li a{
    line-height: 1.6;
    margin: 0.6rem 0;
  }
  ol li{
    line-height: 1.6;
    margin: 0.6rem 0;
  }
  ol li a{
    line-height: 1.6;
    margin: 0.6rem 0;
  }

  /** Nav **/
  nav ul{
    margin: 0;
    padding: 0;
    width: 60px;
    list-style-type: none;
    float: inline-end;
  }

  nav li a{
    display: block;
    text-decoration: none;
    font-size: x-large;
    padding: 15px 15px;
    white-space: nowrap;
  }

  
  /*FONT*/

  /* General setup */
html {
  font-size: 10px;
  margin: 0;
  font-family: 'Times New Roman', Times, serif;
}

body {
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
  line-height: 1.6;
  word-spacing: 0.6rem;
}

/* Typography */

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
}

h1, h2 {
  font-family: 'Serif', sans-serif;
}

p {
  font-size: 1.4rem;
  line-height: 1.6;
  word-spacing: 0.6rem;
  letter-spacing: 0.1rem;
  font-family: 'Raleway', 'Times New Roman', Times, serif;
}